.cartBlock {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	gap: 20px;
}
.cart {
	display: flex;
	background-color: rgb(199, 199, 2);
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
}
.removeBtn {
	max-width: 50%;
	border: none;
	background-color: #fff;
	color: black;
	padding: 10px 20px;
	align-self: center;
	margin: auto 0 20px;
	font-size: 20px;
}
